<!DOCTYPE html>
{% extends "dashboard.html" %}
{% load static %}
<html lang="en">


<body>
<div class="main-wrapper">
    <div class="page-wrapper">
        {% block content %}
            <div class="page-content">

                <nav class="page-breadcrumb">
                    <form method="POST">
                        <div class="select-container">

                            {% csrf_token %}
                            <div class="form-floating">
                                <select id="fakultet" name="fakultet" class="form-select">

                                    <option hidden selected disabled value="">Fakultetni tanlang</option>
                                    {% for i in faculties_list %}
                                        <option value="{{ i.0 }}">{{ i.2 }}</option>
                                    {% endfor %}
                                </select>

                                <label for="fakultet">Fakultet</label>
                            </div>
                            <div class="form-floating">
                                <select id="talim_shakli" name="talim_shakli" class="form-select"
                                >
                                    <option hidden value="">Talim shaklini tanlang</option>
                                    {% for i in education_form_list %}
                                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                                    {% endfor %}
                                </select>
                                <label for="talim_shakli">Ta'lim shakli</label>
                            </div>
                            <div class="form-floating">
                                <select id="qabul_yili" name="qabul_yili" class="form-select">
                                    <option hidden value="">Qabul yilini tanlang</option>
                                    {% for i in entered_year %}
                                        <option value="{{ i.year }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="qabul_yili">Qabul yili</label>
                            </div>
                            <div class="form-floating">
                                <select id="yonalish" name="yonalish" class="form-select" aria-label="Select 4">
                                    <option hidden value="">Yo'nalishni tanlang</option>
                                </select>
                                <label for="yonalish">Yo'nalish</label>
                            </div>
                            <div class="form-floating">
                                <select id="semester" name="semester" class="form-select"
                                >
                                    <option hidden value="">Semesterni tanlang</option>

                                </select>
                                <label for="semester">Semester</label>
                            </div>


                        </div>
                        <button type="submit" class="btn btn-success mt-2 ms-1">Tekshirish</button>

                    </form>


                </nav>


                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Fanlar Ro'yhati</h6>

                                <p class="text-muted mb-3">Baholar tabelingizdagi baholarni fanlarga mos ravishta
                                    kiriting</p>

                                <form method="POST">
                                    <div class="table-responsive">
                                        <table id="dataTableExample" class="table">
                                            <thead>
                                            <tr>
                                                <th>№</th>
                                                <th>Fan</th>
                                                <th>Fan turi</th>
                                                <th>Fan bloki</th>
                                                <th>Fan soati</th>
                                                <th>Kredit hajmi</th>
                                                <th>Baho</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if subjects_list %}
                                                {#                                                {{ subjects_list }}#}

                                                {% for j in subjects_list %}
                                                    {% if j.0 == '' %}
                                                        {% for i in j.1 %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ i.0 }}</td>
                                                                <td>{{ i.2 }}</td>
                                                                <td>{{ i.3 }}</td>
                                                                <td>{{ i.4 }}</td>
                                                                <td>{{ i.5 }}</td>
                                                                <td>
                                                                    <input type="number" class="form-control"
                                                                           id="numberInput"
                                                                           name="baho{{ forloop.counter }}" min="1"
                                                                           max="5">
                                                                </td>
                                                            </tr>

                                                        {% endfor %}

                                                    {% else %}

                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                        <td>
                                                            {% for i in j.1 %}
                                                                {{ i.0 }}<br>
                                                            {% endfor %}
                                                        </td>
                                                            <td>{{ j.1.2.2 }}</td>
                                                            <td>{{ j.1.2.3 }}</td>
                                                            <td>{{ j.1.2.4 }}</td>
                                                            <td>{{ j.1.2.5 }}</td>
                                                            <td>
                                                                <input type="number" class="form-control"
                                                                       id="numberInput"
                                                                       name="baho{{ forloop.counter }}" min="1" max="5">
                                                            </td>
                                                        </tr>

                                                    {% endif %}


                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div class="mb-3 mb-md-0">

                    </div>
                    <div class="d-flex align-items-center flex-wrap text-nowrap">
                        <button type="button" class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0">
                            <i class="btn-icon-prepend" data-feather="printer"></i>
                            Print
                        </button>
                        <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                            <i class="btn-icon-prepend" data-feather="download-cloud"></i>
                            Download Report
                        </button>
                    </div>
                </div>

            </div>
        {% endblock content %}
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>