<!DOCTYPE html>
{% extends "dashboard.html" %}
{% load static %}
{% load group_filter %}
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
<div class="main-wrapper">
    <div class="page-wrapper">
        {% block content %}
            <div class="page-content container-fluid">

                <nav class="page-breadcrumb row">
                    <form id="mainform" class="col-md-12" method="POST" action="{% url 'showmainform' %}">
                        <div class="select-container row">

                            {% csrf_token %}
                            <div class="form-floating col-md-4 col-lg-2 col-sm-6">
                                <select id="fakultet" name="fakultet" class="form-select">

                                    <option hidden selected disabled value="">Fakultetni tanlang</option>
                                    {% for i in faculties_list %}
                                        <option value="{{ i.0 }}">{{ i.2 }}</option>
                                    {% endfor %}
                                </select>

                                <label for="fakultet">Fakultet</label>
                            </div>
                            <div class="form-floating col-md-4 col-lg-2 col-sm-6">
                                <select id="talim_shakli" name="talim_shakli" class="form-select"
                                >
                                    <option hidden value="">Talim shaklini tanlang</option>
                                    {% for i in education_form_list %}
                                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                                    {% endfor %}
                                </select>
                                <label for="talim_shakli">Ta'lim shakli</label>
                            </div>
                            <div class="form-floating col-md-4 col-lg-2 col-sm-6">
                                <select id="qabul_yili" name="qabul_yili" class="form-select">
                                    <option hidden value="">Qabul yilini tanlang</option>
                                    {% for i in entered_year %}
                                        <option value="{{ i.year }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="qabul_yili">Qabul yili</label>
                            </div>
                            <div class="form-floating col-md-4 col-lg-2 col-sm-6">
                                <select id="yonalish" name="yonalish" class="form-select" aria-label="Select 4">
                                    <option hidden value="">Yo'nalishni tanlang</option>
                                </select>
                                <label for="yonalish">Yo'nalish</label>
                            </div>
                            <div class="form-floating col-md-4 col-lg-2 col-sm-6">
                                <select id="semester" name="semester" class="form-select"
                                >
                                    <option hidden value="">Semesterni tanlang</option>

                                </select>
                                <label for="semester">Semester</label>
                            </div>
                            <button type="submit" name="table1" class="col-md-4 col-lg-2 col-sm-6 btn btn-success">Tekshirish</button>
                        </div>

                    </form>


                </nav>


                <div style="visibility:hidden" id="subject_div" class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        {% block gpa %}
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Fanlar Ro'yhati</h6>

                                    <p class="text-muted mb-3">Baholar tabelingizdagi baholarni fanlarga mos ravishta
                                        kiriting</p>

                                    <form id="subject_table" method="POST" action="{% url 'showgpa' %}">
                                        {% csrf_token %}
                                        <div class="table-responsive">
                                            <table id="dataTableExample" class="table">
                                                <thead>
                                                <tr>
                                                    <th>№</th>
                                                    <th>Fan</th>
                                                    <th>Fan turi</th>
                                                    <th>Fan bloki</th>
                                                    <th>Semester</th>
                                                    <th>Fan soati</th>
                                                    <th>Kredit hajmi</th>
                                                    <th>Baho</th>
                                                </tr>
                                                </thead>
                                                <tbody id="table_body">



                                                </tbody>
                                            </table>
                                        </div>

                                        <button type="submit" id="submit_gpa" name="submit_gpa"
                                                class="btn btn-primary mt-2">GPA ni Tekshirish
                                        </button>
                                        <button type="submit" id="download_gpa" name="download_gpa"
                                                class="btn btn-primary btn-icon-text mt-2 mb-md-0">
                                            <i class="btn-icon-prepend" data-feather="download-cloud"></i>
                                            Yuklab olish
                                        </button>
                                    </form>


                                </div>
                            </div>
                        {% endblock gpa %}
                    </div>
                </div>
                <div style="visibility:hidden" id="gpa_result" class="card">
                    <div class="card-body">

                        <p id="status" class="card-text"></p>
                        <p id="gpa" class="card-text"></p>
                        <div id="subjectTable"></div>
                        <p id="kredit" class="card-text"></p>
                    </div>
                </div>


            </div>
        {% endblock content %}
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>